body {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/bg-moodymountain.jpg);
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 17px 20px;
  font-size: 22px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
}
