header {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  margin-left: -130px;
  margin-top: -119px;
}

h2 {
  color: white;
  margin: 144px auto 40px auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4vw;
}
.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #212529;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  font-size: 1rem;
  border-radius: 0.3rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 0.25rem;
  border-radius: 0.3rem;
}

input[type="search" i] {
  width: 100%;
  border-radius: 8px;
  text-indent: 40px;
  border: none;
  line-height: -27px;
  font-size: 15px;
  margin: -11px;
}

input::placeholder {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.icon-search {
  font-size: 24px;
  top: 11px;
  right: -6px;
  position: relative;
  float: left;
  color: darkslategrey;
}
